<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Matricula</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>AngularJS - Fundamentos</h1>
    </body>
</html>
